<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Safeskin Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="./static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="./static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="./static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="./static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="./static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="./static/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
        <!-- Uncomment below if you prefer to use an text logo -->
        <!-- <h1><a href="index.html">NewBiz</a></h1> -->
        
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto " href="/skintone">SkinTone</a></li>
          <li><a class="nav-link scrollto" href="/predict">Prediction</a></li>
          <li class="dropdown"><a href="#"><span>Closest Doctors</span> <i class="bi bi-chevron-down"></i></a>
            
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- #header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="clearfix">
    <div class="container" data-aos="fade-up">

      <div class="hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="https://media.discordapp.net/attachments/846462629182177360/853455056355459072/unknown.png" alt="" class="img-fluid">
      </div>

      <div class="hero-info" data-aos="zoom-in" data-aos-delay="100">
        <h2>SafeSkin:<br><span>quick, advanced analysis</span><br>of skin!</h2>
        <div>
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
          <a href="#services" class="btn-services scrollto">Our Services</a>
        </div>
      </div>

    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>About Us</h3>
          <p>SafeSkin uses machine learning to accurately identify skin cancer and melanoma.</p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p>
              Skin cancer is deadly and can lead to severe problems such as injury/death due to the spread of carcinogenic cells, and several changes in the appearance of the skin including wrinkles and discoloaration. Along with this almost 8 billion dollars have been used in the USA alone to treat skin cancer issues.
            </p>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a href="">1 in 5 people are diganosed with skin cancer</a></h4>
              <p class="description">5.4 million americans are diagnosed with skin cancer each year.</p>
        
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bi bi-brightness-high"></i></div>
              <h4 class="title"><a href="">Every hour 2 people die due to skin cancer</a></h4>
              <p class="description">9500 people are diagnosed with skin cancer everyday.</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bi bi-calendar4-week"></i></div>
              <h4 class="title"><a href="">The survival rate of melanoma is 99% if detected early.</a></h4>
              <p class="description">As a result it is crucial to find a way to quickly detect lesions with high accuracies.</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2" data-aos="zoom-in">
            <img src="./static/assets/img/about-img.svg" class="img-fluid" alt="">
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6" data-aos="fade-right">
            <img src="./static/assets/img/about-extra-1.svg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-5 pt-lg-0" data-aos="fade-left">
            <h4>Our approach.</h4>
            <p>
              We have used an ensemble of ml models to do blah blah blah blah blah
            </p>
            <p>
              talk more abt ml blah blah blah blah
            </p>
          </div>
        </div>

        <div class="row about-extra">


          

        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="section-bg">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>Components</h3>
          <p>Features/Services that our project contains</p>
        </header>

        <div class="row justify-content-center">

          <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <div class="icon"><i class="bi bi-briefcase" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Free and Accurate Lesion Identification</a></h4>
              <p class="description">Using an ensemble of models written in python, we were able to identify lesions and melanoma with a super high accuracy.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <div class="icon"><i class="bi bi-card-checklist" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">Authentication</a></h4>
              <p class="description">In order to maintain privacy, we have added google's firebase database to store all important information</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <div class="icon"><i class="bi bi-bar-chart" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">News</a></h4>
              <p class="description">We have outputted the latest most recent news regarding skin cancer using several news apis.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <div class="icon"><i class="bi bi-binoculars" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Find Closest Doctors/Testing Centers</a></h4>
              <p class="description">We have integrated the google places api to help users find nearest doctors and treatment centers in case they need medical help regarding treating their skin problems</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <div class="icon"><i class="bi bi-brightness-high" style="color: #d6ff22;"></i></div>
              <h4 class="title"><a href="">Closest routes to doctors</a></h4>
              <p class="description">Using the google maps api we have generated the closest routes to go to your closest treatment center.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <div class="icon"><i class="bi bi-calendar4-week" style="color: #4680ff;"></i></div>
              <h4 class="title"><a href="">Frontend/Backend</a></h4>
              <p class="description">HTML/CSS/JS for frontend, Flask and python for backend</p>
            </div>
          </div>

        </div>

      </div>


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
          </div>

          <div class="col-lg-2 col-md-6 footer-links">

          </div>

            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>SafeSkin</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
      -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="./static/assets/vendor/aos/aos.js"></script>
  <script src="./static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="./static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="./static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="./static/assets/vendor/php-email-form/validate.js"></script>
  <script src="./static/assets/vendor/purecounter/purecounter.js"></script>
  <script src="./static/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="./static/assets/js/main.js"></script>

</body>

</html>